[Unit]
Description=Starts fusuma user service
After=graphical.target ydotoold.service
Requires=ydotoold.service

[Service]
Type=simple
ExecStart=/usr/local/bin/fusuma
Restart=on-failure

[Install]
WantedBy=multi-user.target

