[Unit]
Description=Xremap
After=default.target

[Service]
Type=simple
ExecStart=%h/.cargo/bin/xremap --watch %h/.config/xremap/config.yaml
Restart=always
StandardOutput=journal
StandardError=journal

# for debug
# Environment=RUST_LOG=debug

[Install]
WantedBy=default.target
