[Unit]
Description=Xremap service with user configuration
After=graphical.target

[Service]
Type=simple
ExecStart=%h/.cargo/bin/xremap --watch %h/.config/xremap/config.yaml
Restart=on-failure

[Install]
WantedBy=default.target

