[Unit]
Description=Xremap service with user configuration
After=graphical-session.target
BindsTo=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.cargo/bin/xremap --watch %h/.config/xremap/config.yaml
Restart=on-failure

[Install]
WantedBy=basic.target
