set-option -g set-titles on
set-option -g set-titles-string "#S / #W"

# prefix
set -g prefix C-q
unbind C-b

# keystroke delay
set -sg escape-time 1

# to reload
bind r source-file ~/.tmux.conf \; display "Reloaded!"

# C-q*2 = send q
bind C-q send-prefix

bind v split-window -h
bind s split-window -v

# vim keybind
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R
bind -r C-h select-window -t :-
bind -r C-l select-window -t :+

bind < resize-pane -L 5
bind - resize-pane -D 5
bind + resize-pane -U 5
bind > resize-pane -R 5

bind S choose-tree -s

# for mouse
setw -g mode-keys vi

# refs: https://github.com/arcticicestudio/nord-tmux/blob/develop/src/nord.conf
#+---------+
#+ Options +
#+---------+
set -g status-interval 2
set -g status on

#+--------+
#+ Status +
#+--------+
#+--- Layout ---+
set -g status-justify left

#+--- Colors ---+
set -g status-style bg=black,fg=white,none
set -g default-terminal "xterm-256color"

#+-------+
#+ Panes +
#+-------+
set -g pane-border-style bg=black,fg=black
set -g pane-active-border-style bg=black,fg=brightblack
set -g display-panes-colour black
set -g display-panes-active-colour brightblack

#+------------+
#+ Clock Mode +
#+------------+
setw -g clock-mode-colour cyan

#+----------+
#+ Messages +
#+---------+
set -g message-style fg=cyan,bg=brightblack
set -g message-command-style fg=cyan,bg=brightblack

# for status
set-option -g status-position bottom
set-option -g status-right-length 140
set-option -g status-right "#[fg=white,bg=default]LA: #(LANG=C uptime | perl -nlae 'print join(\" \", @F[-3..-1])')"
set-option -g status-left "#S:"

# for clipboard
{{- if contains "lima-" .chezmoi.hostname }}
set -s set-clipboard on
set -s allow-passthrough on
{{- else if eq .chezmoi.os "linux" }}
set-option -s copy-command "wl-copy"
{{- else if eq .chezmoi.os "darwin" }}
set-option -s copy-command "pbcopy"
{{- end }}

# window
bind -n M-c new-window -c "#{pane_current_path}"
bind -n M-l next-window
bind -n M-h previous-window

bind -n M-v split-window -h -c "#{pane_current_path}"
bind -n M-s split-window -v -c "#{pane_current_path}"

# session
bind -n M-C new-session
bind -n M-j switch-client -n
bind -n M-k switch-client -p

# plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'fcsonline/tmux-thumbs'
set -g @thumbs-key F

run-shell 'sh -c "~/.tmux/plugins/tmux-thumbs/tmux-thumbs.tmux || true"'

run '~/.tmux/plugins/tpm/tpm'
