#!/bin/bash

set -Eeuv


if [[ $(uname -s) != "Linux" ]] ; then
    exit 0
fi

source "$(chezmoi source-path)/_utils.sh"

sudo dnf install -y tmux wl-clipboard \
    adobe-source-han-code-jp-fonts adobe-source-han-sans-jp-fonts

# https://github.com/eonpatapon/gnome-shell-extension-caffeine
__install_remote_gnome_extension "caffeine@patapon.info"

# https://github.com/SUPERCILEX/gnome-clipboard-history
__install_remote_gnome_extension "clipboard-history@alexsaveau.dev"

if [[ ! -e ~/.powerlevel10k ]] ; then
    git clone --filter=blob:none https://github.com/romkatv/powerlevel10k.git ~/.powerlevel10k
fi

if [[ ! -e ~/.vim ]] ; then
    git clone {{ .vimrepo }} ~/.vim
fi

if ! which diff-highlight > /dev/null ; then
    sudo ln -s /usr/share/git-core/contrib/diff-highlight /usr/local/bin/
fi

if [[ ! -e ~/.fzf ]] ; then
    git clone --filter=blob:none https://github.com/junegunn/fzf.git ~/.fzf
    cd $_
    ./install --key-bindings --completion --no-update-rc
fi
