#!/bin/bash

set -Eeuv

if [[ $(uname -s) != "Linux" ]] ; then
    exit 0
fi

# hash: {{ include "dot_config/systemd/user/copyq.service" | sha256sum }}
systemctl --user daemon-reload
systemctl --user enable copyq
systemctl --user restart copyq
