#!/bin/bash

set -Eeuv


if [[ $(uname -s) != "Linux" ]] ; then
    exit 0
fi

source "$(chezmoi source-path)/_utils.sh"

sudo dnf install -y vim-enhanced tmux zsh

if [[ ! -e ~/.powerlevel10k ]] ; then
    git clone --filter=blob:none https://github.com/romkatv/powerlevel10k.git ~/.powerlevel10k
fi

if [[ ! -e ~/.vim ]] ; then
    git clone {{ .vimrepo }} ~/.vim
fi

if ! which diff-highlight > /dev/null ; then
    sudo ln -s /usr/share/git-core/contrib/diff-highlight /usr/local/bin/
fi

if [[ ! -e ~/.fzf ]] ; then
    git clone --filter=blob:none https://github.com/junegunn/fzf.git ~/.fzf
    cd $_
    ./install --key-bindings --completion --no-update-rc
fi

sudo chsh $USER --shell /usr/bin/zsh
