#!/bin/bash

set -Eeuv

if [[ $(uname -s) != "Linux" ]] ; then
    exit 0
fi

# hash: {{ include "dconf-org-gnome-shell-keybindings.ini" | sha256sum }}
dconf load /org/gnome/shell/keybindings/ < {{ joinPath .chezmoi.sourceDir "dconf-org-gnome-shell-keybindings.ini" | quote }}

# hash: {{ include "dconf-org-gnome-desktop-wm-keybindings.ini" | sha256sum }}
dconf load /org/gnome/desktop/wm/keybindings/ < {{ joinPath .chezmoi.sourceDir "dconf-org-gnome-desktop-wm-keybindings.ini" | quote }}

# hash: {{ include "dconf-org-gnome-settings-daemon-plugins-media-keys.ini" | sha256sum }}
dconf load /org/gnome/settings-daemon/plugins/media-keys/ < {{ joinPath .chezmoi.sourceDir "dconf-org-gnome-settings-daemon-plugins-media-keys.ini" | quote }}

# hash: {{ include "dconf-org-gnome-dektop-interface.ini" | sha256sum }}
dconf load /org/gnome/desktop/interface/ < {{ joinPath .chezmoi.sourceDir "dconf-org-gnome-dektop-interface.ini" | quote }}

# hash: {{ include "dconf-org-gnome-terminal-legacy-profiles.ini" | sha256sum }}
dconf load /org/gnome/terminal/legacy/profiles:/ < {{ joinPath .chezmoi.sourceDir "dconf-org-gnome-terminal-legacy-profiles.ini" | quote }}
gsettings set org.gnome.Terminal.ProfilesList default '47074058-091f-473f-aae4-694e600bb759'
